/* Google font import Link */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Hi+Melody&family=Noto+Serif+KR&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 100%;
	background: #11101d;
}
.sidebar .logo-ditails {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
}
.sidebar .logo-ditails i {
	font-size: 30px;
	color: #fff;
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
}
.sidebar .logo-ditails .logo_name {
	font-size: 22px;
	color: #fff;
	font-weight: 600;
}
.sidebar .nav-links {
	background-color: red;
	height: 100%;
	padding-top: 30px;
}
.sidebar .nav-links li {
	position: relative;
	list-style: none;
} 
.sidebar .nav-links li .icon-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sidebar .nav-links li i {
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 20px;
}
.sidebar .nav-links li a {
	display: flex;  
	align-items: center;
	text-decoration: none; 
}
.sidebar .nav-links li a .link_name {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	
}












